{% include "header.html" %}

<main id="main" data-aos="fade" data-aos-delay="1500">
    
    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="alert alert-success mt-4">
                        <h4>Your message has been sent. Thank you!</h4>
                    </div>
                
                </div>
            </div>
        </div>
    </div><!-- End Page Header -->

</main>

{% include "footer.html" %}